<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the
    web admin tool to configure settings for your application. Use
    the Project->ASP.NET Configuration option in Visual Studio.
    A full list of settings and comments can be found in
    machine.config.comments usually located in
    \Windows\Microsoft.Net\Framework\v2.x\Config
-->
<configuration>
  <appSettings>
    <add key="Modules" value="" />
    <add key="ErrorReportEmail" value="" />
    <add key="ErrorReportEmailServer" value="" />
    <!--
    <add key="ErrorReportEmailSubject" value="{0:ExceptionMessage}"/>
    <add key="ErrorReportEmailFrom" value="null@nospam.com"/>
    <add key="ErrorReportEmailFromName" value="{0:ApplicationName} Error handling system"/>    
    <add key="Languages" value="de;es;ja;ru" />
    -->
    <add key="SimpleErrorReportPage" value="" />
    <add key="RichErrorReportPage" value="Error.aspx" />
    <add key="EnableDiagnosticActions" value="False" />
    <!-- 
    Use the one of predefined values: None, ApplicationFolder. The default value is ApplicationFolder.
    <add key="TraceLogLocation" value="ApplicationFolder"/>
    -->
    <add key="XafMobileStaticFilesLocation" value="Static/" />
  </appSettings>
  <connectionStrings>
    <add name="EasyTestConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=MySolutionEasyTest" />
    <!-- Use the following connection string to connect to a database on the Microsoft SQL Server Express: -->
    <add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=MySolution" />
    <!--
    Use the following connection string to connect to a database on the Microsoft SQL Server:
    <add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(local);Initial Catalog=MySolution"/>
    -->
    <!--
    Use the following connection string to connect to a Jet (Microsoft Access) database:
    <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=MySolution.mdb;Mode=Share Deny None;"/>
    -->
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="3" />
      <!--
      <add name="XPO" value="3" />
    -->
    </switches>
  </system.diagnostics>
  <system.web>
    <compilation debug="true">
      <assemblies></assemblies>
    </compilation>
    <httpHandlers>
      <add verb="*" path="Static*" type="DevExpress.ExpressApp.Mobile.StaticResourcesHttpHandler, DevExpress.ExpressApp.Mobile.v17.2, Version=17.2.16.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" validate="false" />
    </httpHandlers>
    <machineKey validationKey="B08A6786297222E6A3D2CB0D5F0ED9B4DE1C7D840E58C6BC4D8F7A357561009E95C218947874707752D535C61F1FD8AA5532494F93B71D1C1D34F9F417FEB90C,IsolateApps" decryptionKey="EB7B159669DD11A9462719B25AF0D16EA36855E02713356AE46A12E48C1C8D43,IsolateApps" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="msgSize" maxReceivedMessageSize="2147483647" />
      </webHttpBinding>
    </bindings>
    <services>
      <service name="MySolution.Mobile.DataService">
        <endpoint address="" behaviorConfiguration="" binding="webHttpBinding" bindingConfiguration="msgSize" contract="System.Data.Services.IRequestHandler" />
      </service>
      <service name="MySolution.Mobile.MetadataService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="" contract="DevExpress.ExpressApp.Mobile.Services.IMobileMetadataService" />
      </service>
      <!-- Uncomment the following code if you use ReportsMobileModuleV2 module. 
      <service name="MySolution.Mobile.DownloadReportService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="msgSize" contract="DevExpress.ExpressApp.ReportsV2.Mobile.IXafDownloadReportService" />
      </service>
	  -->
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpRedirect enabled="true" httpResponseStatus="Permanent">
      <add wildcard="/" destination="Static" />
    </httpRedirect>
    <handlers>
      <add name="MobileResources" verb="GET" path="Static*" type="MySolution.Mobile.ResourcesHttpHandler" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>